
table{
    text-align: center;
    font-size: 80%;
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    border: 1px black solid;
    
}

td{
    height: 50px;
}

th{
    height: 50px;
    width: 200px;
}
td, th{
    border-collapse: collapse;
    border: 1px black solid;
}
.orak{
    width: 100px;
}
a{
    text-decoration: none;
    color: black;
}